{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Sobre Tracker Electronics</h1>
    <p class="lead">Superamos tus expectativas.</p>
    <hr class="lead">
    <p>Sabemos que las necesidades pueden cambiar y adaptamos nuestros servicios con rapidez, atendiendo tus inquietudes y necesidades.</p>
    <p class="lead">Excelencia en nuestro servicio.</p>
    <p>Nuestra razón de ser, es mejorar tu vida. Tenemos los mejores servicios y técnicos que están dispuestos a atenderte donde estés. El mantenimiento de cómputo, es nuestra especialidad.</p>
    <p class="lead">Satisfacción garantizada.</p>
    <p>Con nuestros servicios, podemos cubrir todas tus necesidades. Nos enorgullece dar soluciones y atención de calidad a la problemática del cliente, y sabemos que nuestro equipo te atenderá con eficiencia. ¿Qué podemos hacer por ti?</p>
    <p class="lead">Confía en nosotros.</p>
    <p>Este servicio garantiza tu satisfacción y que todo suceda, justo para que todo funcione en tu empresa. Trabajamos con los niveles más altos de excelencia. Cuando te pones en las manos de Tracker Electronics, sabes que cuentas con los mejores.</p>

    <div class="jumbotron">
        <h1 class="display-4">Técnicos con misión y visión.</h1>
        <p class="lead">Si nos permites haremos el mejor trabajo para ti, garantizado.</p>
        <hr class="my-4">
        <p>Trabajamos día a día perfeccionando nuestros servicios para que sean de la más alta calidad posible para que nuestros clientes estén satisfechos. Mejoramos día a día incorporando a nuestra empresa nuevos métodos y herramientas como lo es el mantenimiento
            preventivo a distancia. Trabajamos con el mayor estándares de calidad y control para que tenga una garantía por los servicios que realizamos, nuestra misión es servirte de la mejor manera posible.</p>
        <p>Estamos comprometidos con ofrecer productos de alta calidad en caso de que sus equipos requieran cambio de piezas dándote diversas opciones para su tranquilidad, la ingeniería es nuestra herramienta para solucionar sus problemas. Nunca dejamos
            de mejorar y constantemente ampliamos nuestra oferta para atender a todas sus inquietudes tanto económicas como técnicas para que sus equipos siempre estén funcionando.</p>
        <p>En Tracker electronics nuestro prestigio se basa en métodos excepcionales para el amplio rendimiento de su empresa ya sea chica o grande iniciando desde su equipo de cómputo con técnicas inigualables. Contactanos hoy mismo, sabemos cómo le podemos
            ayudar.
        </p>
        <h1 class="display-5">"Se exige disciplina, se espera innovación."</h1>
        <div class="text-center">
            <img src="/img/manto.png" class="rounded" alt="Tracker">
        </div>
    </div>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">¡Contactanos!</a> {% endblock %}