{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">¿Los mejores?</h1>
    <p class="lead">No sabemos si seamos los mejores en el mundo... pero si para ti.</p>
    <hr class="my-4">
    <p>En la mayoría de nuestros servicios el trabajo estará listo en 24 horas y en los trabajos más exhaustivos el trabajo estaría listo en 3 días, no esperes una semana a que te den un diagnóstico, nosotros sabemos que es lo que tiene con un vistazo.</p>
    <p>Usamos consumibles como pastas térmicas de Cooler master de cerámica para equipos de oficina y de plata para equipos de alto rendimiento, usamos toallas y alcohol de primer nivel y todo para poder cuidar de tu equipo tal como tú lo cuidarías</p>
    <p>En nuestro laboratorio usamos métodos como reballing si es que el daño es a nivel componente, tenemos refacciones en menos de una semana y si eres cliente premium puedes tener una pc mientras arreglamos la tuya</p>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">¡Contactanos!</a>
</div>
<div class="jumbotron">
    <h1 class="display-4">Si, los mejores.</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=".active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/Art Motherboard.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Art Motherboard 2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Art Motherboard 3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Art Motherboard 4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Tres pantallas 1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/BIOS.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Tres pantallas 2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Ram Corsair.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Puertos Sata y panel frontal.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Motherboard por encima.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Mother board reverso.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/Disco desarmado.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{% endblock %}